<phpunit bootstrap="vendor/autoload.php" verbose="true" stopOnError="true" stopOnFailure="true">
    <logging>
        <log type="testdox-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="coverage" lowUpperBound="35" highLowerBound="80"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Core">
            <file>tests/Unit/ClientTest.php</file>
        </testsuite>
        <testsuite name="Entities">
            <directory>tests/Unit/Entities</directory>
        </testsuite>
    </testsuites>
</phpunit>